USE [master]
GO
/****** Object:  Database [Ranking]    Script Date: 1/2/2025 4:15:08 PM ******/
CREATE DATABASE [Ranking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ranking', FILENAME = N'/var/opt/mssql/data/Ranking.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ranking_log', FILENAME = N'/var/opt/mssql/data/Ranking_log.ldf' , SIZE = 401408KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ranking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ranking]
GO
/****** Object:  UserDefinedTableType [dbo].[udt_AccountInfo]    Script Date: 1/2/2025 4:15:08 PM ******/
CREATE TYPE [dbo].[udt_AccountInfo] AS TABLE(
	[MigrationID] [int] NULL,
	[AccountNo] [varchar](50) NULL,
	[CallerID] [varchar](50) NULL,
	[TotalPaymentMade] [decimal](15, 2) NULL,
	[NumberOfMonths] [int] NULL,
	[TotalPoints] [decimal](15, 2) NULL,
	[TierID] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udt_RawAccountInfoID]    Script Date: 1/2/2025 4:15:09 PM ******/
CREATE TYPE [dbo].[udt_RawAccountInfoID] AS TABLE(
	[ID] [bigint] NULL
)
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/2/2025 4:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AmountInfo]    Script Date: 1/2/2025 4:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AmountInfo](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CallerID] [varchar](50) NULL,
	[TotalPaymentMade] [decimal](15, 2) NULL,
	[NumberOfMonths] [int] NULL,
	[TotalPoints] [int] NULL,
	[TierID] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PointConfig]    Script Date: 1/2/2025 4:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointConfig](
	[ConfigID] [bigint] IDENTITY(1,1) NOT NULL,
	[PointPerMonth] [int] NOT NULL,
	[PointPerRM] [int] NOT NULL,
 CONSTRAINT [PK_PointConfig] PRIMARY KEY CLUSTERED 
(
	[ConfigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawAccountInfo]    Script Date: 1/2/2025 4:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawAccountInfo](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountNo] [varchar](50) NOT NULL,
	[CallerID] [varchar](50) NOT NULL,
	[TotalPaymentMade] [decimal](15, 2) NOT NULL,
	[NumberOfMonths] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
	[IsProcess] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tier]    Script Date: 1/2/2025 4:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tier](
	[TierID] [bigint] IDENTITY(1,1) NOT NULL,
	[TierName] [varchar](50) NULL,
	[TierMin] [decimal](18, 2) NULL,
	[TierMax] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Tier] PRIMARY KEY CLUSTERED 
(
	[TierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241230070706_init', N'9.0.0')
GO
SET IDENTITY_INSERT [dbo].[AmountInfo] ON 

INSERT [dbo].[AmountInfo] ([ID], [CallerID], [TotalPaymentMade], [NumberOfMonths], [TotalPoints], [TierID]) VALUES (1, N'0133489163', CAST(2783.50 AS Decimal(15, 2)), 195, 87405, 5)
INSERT [dbo].[AmountInfo] ([ID], [CallerID], [TotalPaymentMade], [NumberOfMonths], [TotalPoints], [TierID]) VALUES (2, N'0133988328', CAST(452.32 AS Decimal(15, 2)), 188, 17329, 5)
INSERT [dbo].[AmountInfo] ([ID], [CallerID], [TotalPaymentMade], [NumberOfMonths], [TotalPoints], [TierID]) VALUES (3, N'0133581534', CAST(2056.93 AS Decimal(15, 2)), 184, 65387, 5)
GO
SET IDENTITY_INSERT [dbo].[AmountInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[PointConfig] ON 

INSERT [dbo].[PointConfig] ([ConfigID], [PointPerMonth], [PointPerRM]) VALUES (1, 10, 10)
SET IDENTITY_INSERT [dbo].[PointConfig] OFF
GO
SET IDENTITY_INSERT [dbo].[RawAccountInfo] ON 

INSERT [dbo].[RawAccountInfo] ([ID], [AccountNo], [CallerID], [TotalPaymentMade], [NumberOfMonths], [StatusID], [IsProcess]) VALUES (1, N'200001778', N'0133489163', CAST(2783.50 AS Decimal(15, 2)), 195, 1, 1)
INSERT [dbo].[RawAccountInfo] ([ID], [AccountNo], [CallerID], [TotalPaymentMade], [NumberOfMonths], [StatusID], [IsProcess]) VALUES (2, N'280000652', N'0133988328', CAST(452.32 AS Decimal(15, 2)), 188, 1, 1)
INSERT [dbo].[RawAccountInfo] ([ID], [AccountNo], [CallerID], [TotalPaymentMade], [NumberOfMonths], [StatusID], [IsProcess]) VALUES (3, N'200002048', N'0133581534', CAST(2056.93 AS Decimal(15, 2)), 184, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[RawAccountInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[Tier] ON 

INSERT [dbo].[Tier] ([TierID], [TierName], [TierMin], [TierMax]) VALUES (1, N'Normal', CAST(0.00 AS Decimal(18, 2)), CAST(4999.00 AS Decimal(18, 2)))
INSERT [dbo].[Tier] ([TierID], [TierName], [TierMin], [TierMax]) VALUES (2, N'Bronze', CAST(5000.00 AS Decimal(18, 2)), CAST(9999.00 AS Decimal(18, 2)))
INSERT [dbo].[Tier] ([TierID], [TierName], [TierMin], [TierMax]) VALUES (3, N'Silver', CAST(10000.00 AS Decimal(18, 2)), CAST(14999.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Tier] OFF
GO
ALTER TABLE [dbo].[RawAccountInfo] ADD  DEFAULT ((1)) FOR [StatusID]
GO
ALTER TABLE [dbo].[RawAccountInfo] ADD  DEFAULT ((0)) FOR [IsProcess]
GO
/****** Object:  StoredProcedure [dbo].[sp_Calculate]    Script Date: 1/2/2025 4:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Calculate] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @MonthPoints int;
	DECLARE @RMPoints int;
	DECLARE @TierID int;
	DECLARE @TotalPoints bigint;
	DECLARE	@CallerID varchar(50);
	DECLARE @TotalPaymentMade decimal(15,2);
	DECLARE @NumberOfMonths int;

------------------------------------------------------------------------------------------------------------------

-- Declare a cursor to loop through the RawAccountInfo table
DECLARE AccountCursor CURSOR FOR
SELECT CallerID, TotalPaymentMade, NumberOfMonths
FROM RawAccountInfo;
	
	SELECT @MonthPoints = PointPerMonth, @RMPoints = PointPerRM
	FROM PointConfig;

	--PRINT @MonthPoints;
	--PRINT @RMPoints;

-- Open the cursor
OPEN AccountCursor;

-- Fetch the first row
FETCH NEXT FROM AccountCursor INTO @CallerID, @TotalPaymentMade, @NumberOfMonths;

-- Loop through the rows
WHILE @@FETCH_STATUS = 0
BEGIN
    -- Example processing logic
    --PRINT 'Processing Account: ' + @CallerID;

	SET @TotalPoints = @TotalPaymentMade * @RMPoints + @NumberOfMonths * @MonthPoints

	--PRINT @TotalPoints;

	-- Get the TierID where the score falls
	SELECT @TierID = TierID
	FROM Tier
	WHERE @TotalPoints BETWEEN TierMin AND TierMax;
	--PRINT @TierID;

	INSERT INTO AmountInfo(CallerID, TotalPaymentMade, NumberOfMonths, TotalPoints, TierID)
	VALUES (@CallerID, @TotalPaymentMade, @NumberOfMonths, @TotalPoints, @TierID);

    -- Fetch the next row
    FETCH NEXT FROM AccountCursor INTO @CallerID, @TotalPaymentMade, @NumberOfMonths;
END

-- Close and deallocate the cursor
CLOSE AccountCursor;
DEALLOCATE AccountCursor;


END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPointConfig]    Script Date: 1/2/2025 4:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetPointConfig]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
    FROM PointConfig
    --WHERE ConfigID = @ConfigID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTier]    Script Date: 1/2/2025 4:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetTier] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Tier
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTotalUsersPerTier]    Script Date: 1/2/2025 4:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetTotalUsersPerTier] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TierName AS Tier,
		COUNT(*) AS TotalUsers
	FROM AmountInfo
	INNER JOIN Tier tc
	ON TotalPoints BETWEEN TierMin AND TierMax
	GROUP BY TierName, tc.TierID
	ORDER BY tc.TierID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePointConfig]    Script Date: 1/2/2025 4:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_UpdatePointConfig] 
	-- Add the parameters for the stored procedure here
	@PointPerMonth int, @PointPerRM int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE PointConfig
	SET PointPerMonth = @PointPerMonth, 
		PointPerRM = @PointPerRM
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTier]    Script Date: 1/2/2025 4:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_UpdateTier] 
	-- Add the parameters for the stored procedure here
	@TierName varchar(50), @TierMin decimal(18,2), @TierMax decimal(18,2)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    UPDATE Tier 
	SET TierMax = @TierMax,
		TierMin = @TierMin
	WHERE UPPER(TierName) = 
		  UPPER(@TierName);
END
GO
USE [master]
GO
